<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbarLogo">
                <a href="nuestrosTrabajos.html"><img class="LogoImg" src="../img/logo.png" alt="Cabeza con flores"></a>
            </picture>
            <ul class="navbarLista">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./nuestrosTrabajos.html">Nuestros Trabajos</a></li>
                <li><a href="./vendemosProductos.html">Vendemos Productos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contenedor">
            <div class="posiciónSlider">
                <h1>Experiencias con nuestros clientes</h1>
            </div>
            <div class="posiciónSlider">
                <article class="Slider">
                    <img src="../img/corteMujer.png" alt="Corte de cabello mujer">
                    <img src="../img/corteHombre.png" alt="Corte de cabello hombre">
                    <img src="../img/corteNiño.png" alt="Corte de cabello niño">
                    <img src="../img/haciendoColor.png" alt="Haciendo color">
                    <img src="../img/barberiaYpeinados.png" alt="Barbería y peinados">
                    <img src="../img/lavadoRelax.png" alt="Lavador de cabeza relajante">
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <p>Visitanos en: Aconcagua 123</p>
        </div>
        <div>
            <p>Llamanos al: 15234789</p>
        </div>
    </footer>

</body>

</html>