<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbarLogo">
                <a href="nuestrosTrabajos.html"><img class="LogoImg" src="../img/logo.png" alt="Cabeza con flores"></a>
            </picture>
            <ul class="navbarLista">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./nuestrosTrabajos.html">Nuestros Trabajos</a></li>
                <li><a href="./vendemosProductos.html">Vendemos Productos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="cont">
            <article class="estilosSlider">
                <h2>Experiencias con nuestros clientes</h2>
                <!-- Slider -->
                <div class="posiciónSlider">
                    <ul class="Slider">
                        <li><img src="../img/corteMujer.png" alt="Corte de cabello a mujer"></li>
                        <li><img src="../img/corteNiño.png" alt="Corte de cabello a niño"></li>
                        <li><img src="../img/haciendoColor.png" alt="Aplicación de tintura"></li>
                        <li><img src="../img/barberiaYpeinados.png" alt="Barbería y peinados"></li>
                    </ul>
                </div>
            </article>
            <!-- Tarjeta para mostrar temperatura -->
            <article id="tarjetaClima" class="estilosTarjC"></article>
        </section>
    </main>

    <footer>
        <div>
            <p>Visitanos en: Aconcagua 123</p>
        </div>
        <div>
            <p>Llamanos al: 15234789</p>
        </div>
    </footer>

    <!-- Mi script  -->
    <script src="../../nuestrosT.js"></script>
</body>

</html>