<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbarLogo">
                <a href="nuestrosTrabajos.html"><img class="LogoImg" src="../img/logo.png" alt="Cabeza con flores"></a>
            </picture>
            <ul class="navbarLista">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./nuestrosTrabajos.html">Nuestros Trabajos</a></li>
                <li><a href="./vendemosProductos.html">Vendemos Productos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contenedor">
            <div class="contenedorPosición">
                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/enjuague.png" alt="Botella de acondicionador">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Enjuague</h2>
                        <p>A base de Jazmín; 150cc</p>
                        <a href="#">LO QUIERO</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/shampoo.png" alt="Botella de shampoo">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Shampoo</h2>
                        <p>A base de Cítricos; 150cc</p>
                        <a href="#">LO QUIERO</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/nutrición.png" alt="Bidón de nutrición">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Nutrición</h2>
                        <p>Con aceite de coco. 5lts.</p>
                        <a href="#">LO QUIERO</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/nutriciónAplicador.png" alt="Botella para aplicar crema de nutrición">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Aplicador</h2>
                        <p>De plástico; 100cc</p>
                        <a href="#">LO QUIERO</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>
            </div>


            <div class="contenedorPosición">
                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/aceitePeinados.png" alt="Aceite para peinados">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Aceite para peinados</h2>
                        <p>Con coco y caléndula. 100cc</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/bronceador.png" alt="Aceite bronceadora">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Bronceador</h2>
                        <p>Con coco y caléndula. 100cc</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/protectorSolar.png" alt="Protector solar">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Protector solar</h2>
                        <p>Factor 50; 100cc</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/perfume.png" alt="Perfume">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Perfume</h2>
                        <p>Con rosas y jazmín. 50cc</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>
            </div>

            <div class="contenedorPosición">
                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/secador.png" alt="Secador para cabello">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Secador</h2>
                        <p>Calor/Frío; 3 velocidades</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/rociador.png" alt="Rociador de plástico">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Rociador</h2>
                        <p>De plástico; 50cc</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/brocha.png" alt="Brocha de madera">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Brocha</h2>
                        <p>de madera y pelo suave</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>

                <article class="posiciónTarj">
                    <picture class="posiciónTarjImg">
                        <img src="../img/labial.png" alt="Labial color rosa">
                    </picture>
                    <div class="posiciónTarjCont">
                        <h2>Labial</h2>
                        <p>Color rosa suave</p>
                        <a href="#">Lo Quiero!</a>
                        <a href="#">Me arrepentí</a>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <p>Visitanos en: Aconcagua 123</p>
        </div>
        <div>
            <p>Llamanos al: 15234789</p>
        </div>
    </footer>

</body>

</html>