<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbarLogo">
                <a href="nuestrosTrabajos.html"><img class="LogoImg" src="../img/logo.png" alt="Cabeza con flores"></a>
            </picture>
            <ul class="navbarLista">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./nuestrosTrabajos.html">Nuestros Trabajos</a></li>
                <li><a href="./vendemosProductos.html">Vendemos Productos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Formulario para loguearse -->
        <section>
            <h2>Completá el formulario para empezar a comprar </h2>
            <form id="form">
                <label for="username">Nombre (obligatorio)</label>
                <input type="text" name="username" id="nombre" autocomplete="off" style="text-transform:lowercase;"
                    value="" onkeyup="javascript:this.value=this.value.toLowerCase();"
                    placeholder="Solo letras en minúsculas">

                <label for="password">Clave (obligatorio)</label>
                <input type="password" minlength="6" name="password" id="clave" autocomplete="off"
                    placeholder="clave con 6 caracteres como mínimo.">

                <label for="email">Correo Eléctronico (obligatorio)</label>
                <input type="email" name="email" id="email" autocomplete="off" style="text-transform:lowercase;"
                    value="" onkeyup="javascript:this.value=this.value.toLowerCase();"
                    placeholder="formato aceptado: meli@ajals.com">

                <button class="btn--resetear" type="reset">RESETEAR DATOS</button><button id="envio" class="btn--enviar"
                    type="submit">ENVIAR DATOS
                </button>
            </form>
        </section>

        <!-- Tarjetas cargadas desde DOM -->
        <section id="misProd" class="contenedor"></section>

        <!-- Tabla para insertar productos -->
        <table>
            <thead>
                <caption>Tus Productos</caption>
                <th>NOMBRE</th>
                <th>CODIGO</th>
                <th>COMPONENTES</th>
                <th>PRECIO</th>
                </thead>
            <tbody id="tBody">

            </tbody>
        </table>
        <h3 id="totalCompra">Tu inversion total es: </h3>

        <!-- Botón finalizar compra -->
        <button type="button" id="finalComp">FINALIZAR</button>
    </main>

    <footer>
        <div>
            <p>Visitanos en: Aconcagua 123</p>
        </div>
        <div>
            <p>Llamanos al: 15234789</p>
        </div>
    </footer>
    <!-- Toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Mis scripts -->
    <script defer src="../../productosStock.js"></script>
    <script defer src="../../vendemosP.js"></script>

</body>

</html>