@charset "UTF-8";
/*Imports*/
/*MISC*/
/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globales*/
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #89f5cf; }

a {
  text-decoration: solid; }

ul {
  list-style-type: none; }

@keyframes pelosLocos {
  from {
    margin-right: 100%;
    width: 150%; }
  75% {
    font-size: 300%;
    width: 130%;
    margin-right: 50%; }
  to {
    margin-right: 100%;
    width: 100%; } }

@keyframes movimiento {
  from {
    margin-left: -100%;
    width: 300%; }
  75% {
    margin-left: 75%;
    width: 150%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/*PARTIALS*/
.navbar {
  display: flex;
  align-items: center;
  height: 13vh;
  background-color: #fbb49a; }
  .navbarLogo {
    justify-content: flex-start; }
    .navbarLogo .LogoImg {
      margin: 2em 80em 2em 6em; }
  .navbarListaInd {
    display: flex;
    gap: 3em;
    margin-left: 80em; }
    .navbarListaInd a {
      color: #1e1e1e;
      font-size: 2em; }
  .navbarLista {
    display: flex;
    gap: 3em; }
    .navbarLista a {
      color: #1e1e1e;
      font-size: 2em; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fbb49a;
  height: 13vh;
  width: 100%;
  margin-top: auto;
  font-size: 2.3em;
  padding: 2em 7em; }

/*VIEWS*/
.Inicio {
  display: flex;
  overflow: hidden;
  margin: 8em 0 18.3em 0; }
  .InicioPict {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2.5em 4em; }
    .InicioPict .PictImg {
      border-radius: 1.5em;
      box-shadow: 0 0 1em; }
  .InicioTítulo p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    margin-top: .5em;
    animation: 5s infinite alternate pelosLocos; }

.contenedor {
  display: flex;
  flex-direction: row; }
  .contenedor .posiciónSlider {
    display: flex;
    justify-content: center; }
    .contenedor .posiciónSlider .Slider {
      display: flex;
      max-width: 500px;
      height: 400px;
      width: 100%;
      margin-top: 2em;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
      border-radius: 1.5em;
      box-shadow: 0 0 1em; }
      .contenedor .posiciónSlider .Slider img {
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center; }

h4 {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 2em 0 1.5em 18em; }

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  margin: 0 45rem;
  background-color: #fcffff;
  border-radius: 1.5em;
  box-shadow: 0px 1px 10px #1e1e1e; }
  form:hover {
    box-shadow: 5px 5px 20px #1e1e1e; }

label {
  display: block;
  margin: 0 3rem;
  padding: .3rem;
  font-size: 1.8em;
  margin-top: .8em; }

input {
  margin: 0 1.5rem 0 3rem;
  width: 90%;
  height: 3.6rem;
  background-color: #89f5cf;
  border: 1px solid #fcffff;
  border-radius: .8em;
  font-size: 1.2vw;
  padding: .5em; }
  input:hover {
    background-color: #6abca0; }
  input:focus {
    background-color: #89f5cf; }

.btn--resetear {
  background-color: #6abca0;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  margin: .8rem 3rem;
  width: 90%;
  border: 1px solid #fcffff;
  border-radius: 1.5rem; }
  .btn--resetear:hover {
    background-color: #275e4a;
    color: #fcffff; }

.btn--enviar {
  background-color: #368166;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  margin: .8rem 3rem;
  width: 90%;
  border: 1px solid #fcffff;
  border-radius: 1.5rem; }
  .btn--enviar:hover {
    background-color: #275e4a;
    color: #fcffff; }

.contenedor {
  display: flex;
  flex-direction: column; }
  .contenedor .contenedorPosicion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10em 1em 3em 0; }
    .contenedor .contenedorPosicion .posicionTarj {
      display: flex;
      align-items: center;
      width: 23%;
      max-width: 1080px;
      margin-left: 2.3em;
      border-radius: 1.5em;
      box-shadow: 0px 1px 10px #1e1e1e;
      background-color: #fcffff;
      cursor: default;
      transition: all 400ms ease; }
      .contenedor .contenedorPosicion .posicionTarj:hover {
        box-shadow: 5px 5px 20px #1e1e1e; }
      .contenedor .contenedorPosicion .posicionTarj .posicionTarjImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        padding: 0 4em;
        margin: 2em;
        border-radius: 1.5em;
        box-shadow: 0px 1px 10px #1e1e1e;
        overflow: hidden;
        background-color: #fcffff; }
      .contenedor .contenedorPosicion .posicionTarj .posicionTarjCont {
        width: 45%;
        text-align: left;
        padding-right: 2em; }
        .contenedor .contenedorPosicion .posicionTarj .posicionTarjCont h2 {
          font-size: 1.8em;
          margin-bottom: 1em; }
        .contenedor .contenedorPosicion .posicionTarj .posicionTarjCont p {
          font-size: 1.5em;
          line-height: 1.1em;
          margin: .8em 0 1.1em 0; }
        .contenedor .contenedorPosicion .posicionTarj .posicionTarjCont .estilosBtn {
          display: inline-block;
          padding: .4em;
          margin: .3em .3em .3em 0;
          border: 2px solid #5fb395;
          border-radius: .8em;
          font-weight: bold;
          background-color: #89f5cf;
          color: #1e1e1e;
          font-size: 1.5em; }
        .contenedor .contenedorPosicion .posicionTarj .posicionTarjCont .estilosSobreBtn {
          display: inline-block;
          padding: .4em;
          margin: .3em .3em .3em 0;
          border: 2px solid #5fb395;
          border-radius: .8em;
          font-weight: bold;
          background-color: #48c599;
          color: #fcffff; }

table {
  width: 80%;
  margin: 4em 12em;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px;
  border-radius: 1.5em;
  background-color: #eceeee; }
  table th {
    font-size: 1.2vw;
    font-weight: bold;
    padding: .8em;
    border-radius: .8em;
    background-color: #89f5cf; }
  table td {
    font-size: 1.3vw;
    padding: .5em;
    background-color: #89f5cf;
    border-radius: .8em; }
  table caption {
    font-size: 1.5vw;
    font-weight: bold;
    margin: .5em; }

h5 {
  font-size: 1.5vw;
  font-weight: bold;
  margin: .5em 0 4em 5em; }
