@charset "UTF-8";
/*Imports*/
/*MISC*/
:root {
  --primary: #89f5cf;
  --secondary: #fbb49a;
  --tertiary: #ffffff;
  --quaternay: #1e1e1e;
  --text-lg: 2em;
  --text-md: 1.6em; }

/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globales*/
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--quaternary);
  height: 100%;
  width: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary); }

a {
  text-decoration: solid;
  display: inline-block; }

ul {
  list-style-type: none; }

li {
  list-style: none; }

h1 {
  font-size: 2.8em;
  text-align: center; }

h2 {
  font-size: 2.6em;
  margin: 1rem 0;
  text-align: center; }

h3 {
  font-size: 2.4em;
  font-weight: bold;
  margin: .5em 0 4em 5em; }

h4 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 2em 0 1.5em 18em; }

h5 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em; }

/*Helpers*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

@keyframes pelosLocos {
  from {
    margin-right: 100%;
    width: 150%; }
  75% {
    font-size: 300%;
    width: 130%;
    margin-right: 50%; }
  to {
    margin-right: 100%;
    width: 100%; } }

@keyframes moviendoSlider {
  0% {
    margin-left: 0%; }
  20% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  95% {
    margin-left: -300%; } }

/*PARTIALS*/
header {
  background-color: var(--secondary);
  width: 100%; }

.nav {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 13vh;
  height: 100%;
  padding: 0 2rem; }
  .navLogo {
    justify-content: flex-start;
    flex-basis: 30%; }
  .navLista {
    justify-content: space-between;
    flex-basis: 40%; }
    .navLista a {
      color: var(--quaternary);
      font-size: 2em;
      padding: 1rem; }
  .navListaItems {
    border: 3px solid var(--secondary);
    transition: border-color .3s ease-in-out; }
    .navListaItems:hover {
      border-color: var(--quaternary); }

@media (max-width: 320px) {
  header {
    height: 100%; }
  .nav {
    margin: 1.5rem 0; }
    .navLista a {
      font-size: 1.3em; } }

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5em; } }

footer {
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary);
  height: 13vh;
  width: 100%;
  margin-top: auto;
  font-size: 2.3em;
  padding: 2rem 7rem; }

@media (max-width: 320px) {
  footer {
    flex-direction: column;
    padding: 0; } }

/*VIEWS*/
.inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin: 12rem; }
  .inicioPict {
    margin: 2.5rem; }
    .inicioPict .PictImg {
      max-width: 100%;
      width: auto;
      height: auto;
      border-radius: 1.5rem;
      box-shadow: 0 0 1rem; }
  .inicioTítulo p {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 5em;
    margin-top: 2rem; }

@media (max-width: 320px) {
  .inicio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13rem 0;
    font-size: .6em; }
    .inicioPict {
      padding: 2rem; }
    .inicioTítulo {
      justify-content: center; }
      .inicioTítulo p {
        margin-top: 2rem; } }

@media (max-width: 768px) {
  .inicio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 17rem 0; }
    .inicioTítulo {
      justify-content: center; }
      .inicioTítulo h1 {
        font-size: 3.5em;
        margin-top: 2rem; }
      .inicioTítulo p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        margin-top: 2rem; } }

.flex-row {
  justify-content: space-around; }
  .flex-row .estilosSlider {
    margin: 7rem 0;
    background-color: var(--primary);
    border-radius: 1.5em;
    box-shadow: 0px 1px 10px #1e1e1e; }
    .flex-row .estilosSlider .posiciónSlider {
      width: 37.5vw;
      height: 60vh;
      justify-content: center;
      overflow: hidden;
      border-radius: 1.5rem;
      margin: 2.5rem; }
      .flex-row .estilosSlider .posiciónSlider .Slider {
        padding: 0;
        width: 400%;
        border-radius: 1.5rem;
        animation: moviendoSlider 16s infinite alternate ease-in-out; }
        .flex-row .estilosSlider .posiciónSlider .Slider li {
          width: 100%; }
        .flex-row .estilosSlider .posiciónSlider .Slider img {
          width: 100%;
          border-radius: 1.5rem;
          box-shadow: 0 0 1rem; }
  .flex-row .estilosTarjC {
    width: 8vw;
    height: 28vh;
    margin: 8rem 0;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem;
    background-color: #fcffff; }
    .flex-row .estilosTarjC .posicTarjC {
      justify-content: center;
      align-items: center; }
    .flex-row .estilosTarjC p {
      text-align: center;
      font-size: 1.4em; }
    .flex-row .estilosTarjC img {
      margin-top: 1rem;
      border-radius: 1rem; }

@media (max-width: 320px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 1.7em; }
    section .estilosSlider {
      justify-content: center;
      align-items: center; }
    section .posiciónSlider {
      width: 90vw !important;
      height: 20vh !important; }
    section .estilosTarjC img {
      height: 15vh; } }

@media (max-width: 768px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 2em; }
    section .posiciónSlider {
      width: 90vw !important;
      height: 50vh !important; }
    section .estilosTarjC img {
      width: 25vw;
      height: 13vh; } }

.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  .fondo .posicionFondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
    background-color: var(--primary);
    border-radius: 1.5em;
    box-shadow: 0px 1px 10px #1e1e1e; }
    .fondo .posicionFondo .flex-column {
      width: 35vw;
      background-color: var(--tertiary);
      border-radius: 1.5em;
      box-shadow: 0px 1px 10px #1e1e1e; }
      .fondo .posicionFondo .flex-column:hover {
        box-shadow: 5px 5px 20px #1e1e1e; }
    .fondo .posicionFondo label {
      display: block;
      margin: 0 3rem;
      padding: .3rem;
      font-size: 1.8em;
      margin-top: .8rem; }
    .fondo .posicionFondo input {
      margin: 0 1.5rem 0 3rem;
      width: 90%;
      height: 3.6rem;
      background-color: var(--primary);
      border: 1px solid var(--tertiary);
      border-radius: .8rem;
      font-size: 1.3em;
      padding: .5rem; }
      .fondo .posicionFondo input:hover {
        background-color: #6abca0; }
      .fondo .posicionFondo input:focus {
        background-color: #89f5cf; }
    .fondo .posicionFondo .btn--resetear {
      background-color: #6abca0;
      font-size: 1.5em;
      font-weight: bold;
      padding: .9rem;
      margin: .8rem 3rem;
      width: 90%;
      border: 1px solid var(--tertiary);
      border-radius: 1.5rem; }
      .fondo .posicionFondo .btn--resetear:hover {
        background-color: #275e4a;
        color: var(--tertiary); }
    .fondo .posicionFondo .btn--enviar {
      background-color: #368166;
      font-size: 1.5em;
      font-weight: bold;
      padding: .9rem;
      margin: .8rem 3rem;
      width: 90%;
      border: 1px solid var(--tertiary);
      border-radius: 1.5rem; }
      .fondo .posicionFondo .btn--enviar:hover {
        background-color: #275e4a;
        color: var(--tertiary); }

.cont {
  display: flex;
  flex-wrap: wrap; }
  .cont .contPosicion {
    flex: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 10rem 1rem 3rem 0; }
    .cont .contPosicion .posicionTarj {
      display: flex;
      align-items: center;
      margin: 0 2.3rem;
      border-radius: 1.5rem;
      min-width: 5px;
      max-width: 1080px;
      box-shadow: 0px 1px 10px #1e1e1e;
      background-color: var(--tertiary);
      cursor: default;
      transition: all 400ms ease; }
      .cont .contPosicion .posicionTarj:hover {
        box-shadow: 5px 5px 20px #1e1e1e; }
      .cont .contPosicion .posicionTarj .posicionTarjImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 4rem;
        border-radius: 1.5rem;
        box-shadow: 0px 1px 10px #1e1e1e;
        overflow: hidden;
        background-color: var(--tertiary); }
      .cont .contPosicion .posicionTarj .posicionTarjCont {
        width: 50%;
        text-align: left;
        padding-right: 1rem; }
        .cont .contPosicion .posicionTarj .posicionTarjCont h2 {
          margin: 4rem 0; }
        .cont .contPosicion .posicionTarj .posicionTarjCont p {
          font-size: 1.5em;
          line-height: 1.1em;
          margin: .8rem 0 1.1rem 0; }
        .cont .contPosicion .posicionTarj .posicionTarjCont .estilosBtn {
          display: inline-block;
          padding: .4rem;
          margin: .3rem .3rem .3rem 0;
          border: 2px solid #5fb395;
          border-radius: .8rem;
          font-weight: bold;
          background-color: #89f5cf;
          color: var(--quaternary);
          font-size: 1.5em; }
        .cont .contPosicion .posicionTarj .posicionTarjCont .estilosSobreBtn {
          display: inline-block;
          padding: .4rem;
          margin: .3rem .3rem .3rem 0;
          border: 2px solid #5fb395;
          border-radius: .8rem;
          font-weight: bold;
          background-color: #48c599;
          color: var(--quaternary);
          font-size: 1.5em; }

table {
  margin: 4rem 45rem;
  text-align: center;
  border-collapse: separate;
  border-spacing: 2.8rem;
  border-radius: 1.5rem;
  background-color: var(--tertiary); }
  table th {
    font-size: 2em;
    font-weight: bold;
    padding: .9rem;
    border-radius: .8rem;
    background-color: var(--primary); }
  table td {
    font-size: 2em;
    padding: .8rem;
    background-color: var(--primary);
    border-radius: .8rem; }
  table caption {
    font-size: 1.8em;
    font-weight: bold;
    margin: .5rem; }

#finalComp {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 0 12rem 22rem;
  padding: .7rem;
  border: 1px solid var(--tertiary);
  border-radius: .6rem;
  background-color: var(--tertiary);
  box-shadow: 0px 1px 10px #1e1e1e; }
  #finalComp:hover {
    box-shadow: 5px 5px 20px #1e1e1e; }

.error {
  color: red; }

@media (max-width: 320px) {
  .contFondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280vw;
    margin: 12rem 5rem; }
    .contFondo .fondo {
      margin: 4rem 0; }
      .contFondo .fondo .posicionFondo {
        width: 320vw !important;
        height: 130vh !important;
        font-size: 2.1em; }
        .contFondo .fondo .posicionFondo .flex-column {
          width: 300vw !important;
          height: 90vh; }
          .contFondo .fondo .posicionFondo .flex-column input {
            height: 130px; }
    .contFondo .cont {
      font-size: 5em; }
      .contFondo .cont .posicionTarj {
        padding: 5rem; }
        .contFondo .cont .posicionTarj .posicionTarjImg {
          height: 40vh; }
          .contFondo .cont .posicionTarj .posicionTarjImg img {
            height: 40vh; }
  table {
    align-items: center;
    font-size: 2.4em;
    font-weight: bold;
    border-spacing: 2.6rem;
    margin: 0; }
    table th {
      font-weight: bold; }
  #finalComp {
    font-size: 8em; }
  h3 {
    display: flex;
    font-size: 8em; } }

@media (max-width: 768px) {
  .contFondo .fondo .posicionFondo {
    width: 115vw;
    height: 50vh;
    margin-top: 6rem; }
  .fondo .posicionFondo .flex-column {
    width: 105vw;
    height: 60vh; }
  table {
    margin: 10rem; } }
