header {
    background-color: var(--secondary);
    width: 100%;
}

.nav {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 13vh;
    height: 100%;
    padding: 0 2rem;

    &Logo {
        justify-content: flex-start;
        flex-basis: 30%;
    }

    &Lista {
        justify-content: space-between;
        flex-basis: 40%;

        a {
            @include lista_header (var(--quaternary), 2em);
            padding: 1rem;
        }
    }

    &ListaItems {
        border: 3px solid var(--secondary);
        transition: border-color .3s ease-in-out;

        &:hover {
            border-color: var(--quaternary);
        }
    }
}

@media (max-width:320px) {
    header {
        height: 100%;
    }
    .nav {
        margin: 1.5rem 0;

        &Lista {
            a {
                font-size: 1.3em;
            }
        }
    }
}

@media (max-width:768px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.5em;
    }
}
