.Inicio {
    display: flex;
    overflow: hidden;
    margin: 8em 0 18.3em 0;

    &Pict {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 2.5em 4em;

        .PictImg {
            border-radius: 1.5em;
            box-shadow: 0 0 1em;
        }
    }

    &Título {

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10em;
            margin-top: .5em;
            animation: 5s infinite alternate pelosLocos;
        }
    }
}