//Estilos Slider
.flex-row {
    justify-content: space-around;

    .estilosSlider {
        margin: 7rem 0;
        background-color: var(--primary);
        border-radius: 1.5em;
        box-shadow: 0px 1px 10px rgb(30, 30, 30);
        
        .posiciónSlider {
            width: 37.5vw;
            height: 60vh;
            justify-content: center;
            overflow: hidden;
            border-radius: 1.5rem;
            margin: 2.5rem;
            

            .Slider {
                padding: 0;
                width: 400%;
                border-radius: 1.5rem;

                animation: moviendoSlider 16s infinite alternate ease-in-out;

                li {
                    width: 100%;
                }

                img {
                    width: 100%;
                    border-radius: 1.5rem;
                    box-shadow: 0 0 1rem;
                }
            }
        }
    }

    //Estilos tarjeta que recibe info del clima
    .estilosTarjC {
        width: 8vw;
        height: 28vh;
        margin: 8rem 0;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem;
        background-color: #fcffff;

        .posicTarjC {
            justify-content: center;
            align-items: center;
        }

        p {
            text-align: center;
            font-size: 1.4em;
        }

        img {
            margin-top: 1rem;
            border-radius: 1rem;
        }
    }
}

@media (max-width:320px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        font-size: 1.7em;

        .estilosSlider {
            justify-content: center;
            align-items: center;

        }

        .posiciónSlider {
            width: 90vw !important;
            height: 20vh !important;
        }

        .estilosTarjC {

            img {
                height: 15vh;
            }
        }
    }
}

@media (max-width:768px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        font-size: 2em;

        .posiciónSlider {
            width: 90vw !important;
            height: 50vh !important;
        }

        .estilosTarjC {

            img {
                width: 25vw;
                height: 13vh;
            }
        }
    }
}            