//Estilos Slider
.cont {
    display: flex;

    .estilosSlider {
        display: flex;

        .posiciónSlider {
            width: 500px;
            height: 380px;
            margin: 10rem 0 0 0;
            overflow: hidden;
            border-radius: 1.5rem;
           
            .Slider {
                display: flex;
                padding: 0;
                width: 400%;
                border-radius: 1.5rem;
                
                animation: moviendoSlider 16s infinite alternate ease-in-out;

                li {
                    width: 100%;
                }

                img {
                    width: 100%;
                    border-radius: 1.5rem;
                    box-shadow: 0 0 1rem;
                }
            }
        }
    }

    //Estilos tarjeta que recibe info del clima
    .estilosTarjC {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2rem .1rem 25rem 36rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem;
        background-color: #fcffff; 
        
        h5 {            
            display: flex;          
        }
        .posicTarjC {
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 1.4em;
                margin-bottom: 1rem;                
             }
          }
          img {
            border-radius: 1rem;
        }
     }
 }