//Estilos formulario
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  margin: 0 45rem;
  background-color: #fcffff;
  border-radius: 1.5em;
  box-shadow: 0px 1px 10px rgb(30, 30, 30);

  &:hover {
    box-shadow: 5px 5px 20px rgb(30, 30, 30);
  }
}

label {
  display: block;
  margin: 0 3rem;
  padding: .3rem;
  font-size: 1.8em;
  margin-top: .8em;
}

input {
  margin: 0 1.5rem 0 3rem;
  width: 90%;
  height: 3.6rem;
  background-color: #89f5cf;
  border: 1px solid #fcffff;
  border-radius: .8em;
  font-size: 1.2vw;
  padding: .5em;

  &:hover {
    background-color: #6abca0;
  }

  &:focus {
    background-color: #89f5cf;
  }
}

$botones:(resetear: #6abca0,
  enviar: #368166);

@each $boton,
$color in $botones {
  .btn--#{$boton} {
    background-color: $color;
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em;
    margin: .8rem 3rem;
    width: 90%;
    border: 1px solid #fcffff;
    border-radius: 1.5rem;

    &:hover {
      background-color: #275e4a;
      color: #fcffff;
    }
  }
}

//Estilos tarjetas
.contenedor {
  display: flex;
  flex-wrap: wrap;

  .contenedorPosicion {
    display: flex;
    flex: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 10em 1em 3em 0;

    .posicionTarj {
      display: flex;
      align-items: center;
      margin: 0 2.3em;
      border-radius: 1.5em;
      min-width: 5px;
      max-width: 1080px;
      box-shadow: 0px 1px 10px rgb(30, 30, 30);
      background-color: #fcffff;
      cursor: default;
      transition: all 400ms ease;

      &:hover {
        box-shadow: 5px 5px 20px rgb(30, 30, 30);
      }

      .posicionTarjImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 4em;
        border-radius: 1.5em;
        box-shadow: 0px 1px 10px rgb(30, 30, 30);
        overflow: hidden;
        background-color: #fcffff;
      }

      .posicionTarjCont {
        width: 50%;
        text-align: left;
        padding-right: 1em;

        h2 {
          font-size: 1.8em;
          margin-bottom: 1em;
        }

        p {
          font-size: 1.5em;
          line-height: 1.1em;
          margin: .8em 0 1.1em 0;
        }

        .estilosBtn {
          display: inline-block;
          padding: .4em;
          margin: .3em .3em .3em 0;
          border: 2px solid #5fb395;
          border-radius: .8em;
          font-weight: bold;
          background-color: #89f5cf;
          @include lista_header (rgb(30, 30, 30), 1.5em);
        }

        .estilosSobreBtn {
          display: inline-block;
          padding: .4em;
          margin: .3em .3em .3em 0;
          border: 2px solid #5fb395;
          border-radius: .8em;
          font-weight: bold;
          background-color: #48c599;
          @include lista_header (#fcffff, 1.5em);
        }
      }
    }
  }
}


//Estilos botón finalizar
#finalComp {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 3em 3em 3em 34em;
  padding: .7em;
  border: 1px solid #fcffff;
  border-radius: .6em;
  background-color: #fcffff;
  box-shadow: 0px 1px 10px rgb(30, 30, 30);

  &:hover {
    box-shadow: 5px 5px 20px rgb(30, 30, 30);
  }
}

//Estilos Tabla
table {
  width: 80%;
  margin: 4em 12em;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px;
  border-radius: 1.5em;
  background-color: #eceeee;

  th {
    font-size: 1.2vw;
    font-weight: bold;
    padding: .8em;
    border-radius: .8em;
    background-color: #89f5cf;
  }

  td {
    font-size: 1.3vw;
    padding: .5em;
    background-color: #89f5cf;
    border-radius: .8em;
  }

  caption {
    font-size: 1.5vw;
    font-weight: bold;
    margin: .5em;
  }
}